{
	"name": "CRF Inner",
	"filenameNow": "/tmp/crf_webcam_inner.jpg",
	"filenameMovement": "/tmp/crf_webcam_inner_movement.jpg",
	"titleNow": "CRF Inner {}",
	"titleMovement": "CRF Inner Movement {}",
	"tempImgPath": "/tmp",
	"uploadPaths": [
		{
			"hostname": "example.org",
			"username": "user",
			"identify": "~/.ssh/indentityfile",
			"uploadPath": "/home/user/images"
		},
		{
			"hostname": "example2.org",
			"username": "user2",
			"identify": "~/.ssh/indentityfile2",
			"uploadPath": "/home/user2/pictures"
		}
	]
}

